<div class="mt-20 max-w-md mx-auto">
  <div *ngIf="showNotification" class="fixed top-4 right-4 z-50">
    <app-notification 
      [message]="notificationMessage" 
      [type]="notificationType" 
      (close)="showNotification = false">
    </app-notification>
  </div>
  <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" class="bg-white p-10 rounded shadow">
    <h2 class="text-2xl font-bold mb-4">Reset Password</h2>
    
    <div class="mb-4 relative">
      <label for="newPassword" class="block text-sm font-medium text-gray-700 mb-1">New Password</label>
      <div class="relative">
        <i class="pi pi-lock absolute left-3 top-1/2 transform -translate-y-1/2 text-gray-400"></i>
        <input type="password" formControlName="newPassword" id="newPassword" 
               class="w-full border p-2 pl-10 rounded" placeholder="New password">
      </div>
    </div>
    <div class="mb-4 relative">
      <label for="confirmPassword" class="block text-sm font-medium text-gray-700 mb-1">Confirm Password</label>
      <div class="relative">
        <i class="pi pi-lock absolute left-3 top-1/2 transform -translate-y-1/2 text-gray-400"></i>
        <input type="password" formControlName="confirmPassword" id="confirmPassword" 
               class="w-full border p-2 pl-10 rounded" placeholder="Confirm password">
      </div>
    </div>
    <div class="flex justify-end mt-6">
      <button type="submit" [disabled]="isSubmitting" 
              class="bg-blue-500 hover:bg-blue-600 text-white p-2 rounded flex items-center justify-center space-x-2 w-auto">
        <span *ngIf="!isSubmitting">Reset Password</span>
        <i *ngIf="isSubmitting" class="pi pi-spin pi-spinner"></i>
      </button>
    </div>
  </form>
</div>