<div class="mt-40 max-w-md mx-auto">
  <div *ngIf="showNotification" class="fixed top-4 right-4 z-50">
    <app-notification 
      [message]="notificationMessage" 
      [type]="notificationType" 
      (close)="showNotification = false">
    </app-notification>
  </div>

  <div *ngIf="emailSent" class="bg-white p-6 rounded shadow text-center">
    <h2 class="text-2xl font-bold mb-4">Email Sent!</h2>
    <p class="text-sm text-gray-500 mb-4">
      Check your email and use the link to reset your password.
    </p>
  </div>

  <form *ngIf="!emailSent" [formGroup]="forgotPasswordForm" (ngSubmit)="onSubmit()" class="bg-white p-14 rounded shadow relative">
    <h2 class="text-2xl font-bold mb-4">Forgot Password?</h2>
    
    <div class="mb-4 relative">
      <label for="email" class="block text-sm font-medium text-gray-700">Email address</label>
      <i class="pi pi-envelope absolute left-3 top-9 text-gray-400"></i>
      <input type="email" formControlName="email" id="email" class="w-full border p-2 pl-10 rounded" placeholder="Your email address">
    </div>

    <button type="submit" [disabled]="isSubmitting" 
      class="absolute mb-6 right-4 bg-blue-500 hover:bg-blue-600 text-white p-2 rounded flex items-center justify-center space-x-2 w-auto">
      <i class="pi pi-send"></i>
      <span *ngIf="!isSubmitting">Send Link</span>
      <i *ngIf="isSubmitting" class="pi pi-spin pi-spinner"></i>
    </button>
  </form>
</div>
