.top-right-notification {
  position: fixed;
  top: 80px;
  right: 20px;
  z-index: 1000;
  display: flex;
  align-items: center;
  width: auto;
  max-width: 400px;
  margin-bottom: 10px;
}

@keyframes fadeIn {
  0% {
    opacity: 0;
    transform: translateY(-20px);
  }
  100% {
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes fadeOut {
  0% {
    opacity: 1;
    transform: translateY(0);
  }
  100% {
    opacity: 0;
    transform: translateY(-20px);
  }
}

.fade-in {
  animation: fadeIn 0.5s ease-in-out;
}

.fade-out {
  animation: fadeOut 0.5s ease-in-out;
}

.flex {
  display: flex;
  align-items: center;
  justify-content: space-between;
}

.hover-bg {
  transition: all 0.3s ease-in-out;
}

.text-white {
  color: white;
}

.bg-green-600 {
  background-color: #38a169;
}

.bg-green-700:hover {
  background-color: #2f855a;
}

.bg-red-600 {
  background-color: #e53e3e;
}

.bg-red-700:hover {
  background-color: #c53030;
}
