.mt-6 {
  margin-top: 1.5rem;
}
.relative {
  position: relative;
}
.absolute {
  position: absolute;
}
.ml-auto {
  margin-left: auto;
}
.space-y-4 > :not([hidden]) ~ :not([hidden]) {
  --tw-space-y-reverse: 0;
  margin-top: calc(1rem * var(--tw-space-y-reverse));
  margin-bottom: calc(1rem * calc(1 - var(--tw-space-y-reverse)));
}
.w-full {
  width: 100%;
}
.bg-blue-500:hover {
  background-color: #2563eb;
}
