<app-navbar></app-navbar>

<div class="flex justify-center items-center">
    <!--- more free and premium Tailwind CSS components at https://tailwinduikit.com/ --->
    <div class="2xl:mx-auto 2xl:container lg:px-20 lg:py-16 md:py-12 md:px-6 py-9 px-4 w-96 sm:w-auto">
        <div role="main" class="flex flex-col items-center justify-center">
            <h1 class="text-4xl font-semibold leading-9 text-center text-black">This Week Blogs</h1>
            <p class="text-base leading-normal text-center text-black mt-4 lg:w-1/2 md:w-10/12 w-11/12"> Checkout some of our recent blogs at Stream and get new insights into our solutions.</p>
        </div>
        <div class="lg:flex items-stretch md:mt-12 mt-8">
            <div class="lg:w-1/2">
                <div class="sm:flex items-center justify-between xl:gap-x-8 gap-x-6">
                    <!-- Blog Cards from the first half of the blogs array -->
                    <div *ngFor="let blog of blogs.slice(0, 2);" class="sm:w-1/2 relative">
                        <div>
                            <p class="p-6 text-xs font-medium leading-3 text-white absolute top-0 right-0">{{ blog.date }}</p>
                            <div class="absolute bottom-0 left-0 p-6">
                                <h2 class="text-xl font-semibold text-white">{{ blog.title }}</h2>
                                <a (click)="selectBlog(blog)" class="focus:outline-none focus:underline flex items-center mt-4 cursor-pointer text-white hover:text-gray-200 hover:underline">
                                    <p class="pr-2 text-sm font-medium leading-none">Read More</p>
                                    <svg class="fill-stroke" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5.75 12.5L10.25 8L5.75 3.5" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <img [src]="blog.image" class="w-full" [alt]="blog.title" />
                    </div>
                </div>
                <div class="relative">
                    <!-- Blog Card 3 from blogs array -->
                    <div>
                        <p class="md:p-10 p-6 text-xs font-medium leading-3 text-white absolute top-0 right-0">{{ blogs[2].date }}</p>
                        <div class="absolute bottom-0 left-0 md:p-10 p-6">
                            <h2 class="text-xl font-semibold text-white">{{ blogs[2].title }}</h2>
                            <a (click)="selectBlog(blogs[2])" class="focus:outline-none focus:underline flex items-center mt-4 cursor-pointer text-white hover:text-gray-200 hover:underline">
                                <p class="pr-2 text-sm font-medium leading-none">Read More</p>
                                <svg class="fill-stroke" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.75 12.5L10.25 8L5.75 3.5" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </a>
                        </div>
                    </div>
                    <img [src]="blogs[2].image" alt="sitting place" class="w-full mt-8 md:mt-6 hidden sm:block" />
                    <img class="w-full mt-4 sm:hidden" [src]="blogs[2].image" alt="sitting place" />
                </div>
            </div>
            <div class="lg:w-1/2 xl:ml-8 lg:ml-4 lg:mt-0 md:mt-6 mt-4 lg:flex flex-col justify-between">
                <div class="relative">
                    <!-- Blog Card 4 from blogs array -->
                    <div>
                        <p class="md:p-10 p-6 text-xs font-medium leading-3 text-white absolute top-0 right-0">{{ blogs[3].date }}</p>
                        <div class="absolute bottom-0 left-0 md:p-10 p-6">
                            <h2 class="text-xl font-semibold text-white">{{ blogs[3].title }}</h2>
                            <a (click)="selectBlog(blogs[3])" class="focus:outline-none focus:underline flex items-center mt-4 cursor-pointer text-white hover:text-gray-200 hover:underline">
                                <p class="pr-2 text-sm font-medium leading-none">Read More</p>
                                <svg class="fill-stroke" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                    <path d="M5.75 12.5L10.25 8L5.75 3.5" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                </svg>
                            </a>
                        </div>
                    </div>
                    <img [src]="blogs[3].image" alt="sitting place" class="w-full sm:block hidden" />
                    <img class="w-full sm:hidden" [src]="blogs[3].image" alt="sitting place" />
                </div>
                <div class="sm:flex items-center justify-between xl:gap-x-8 gap-x-6 md:mt-6 mt-4">
                    <div class="relative w-full">
                        <!-- Blog Card 5 from blogs array -->
                        <div>
                            <p class="p-6 text-xs font-medium leading-3 text-white absolute top-0 right-0">{{ blogs[4].date }}</p>
                            <div class="absolute bottom-0 left-0 p-6">
                                <h2 class="text-xl font-semibold text-white">{{ blogs[4].title }}</h2>
                                <a (click)="selectBlog(blogs[4])" class="focus:outline-none focus:underline flex items-center mt-4 cursor-pointer text-white hover:text-gray-200 hover:underline">
                                    <p class="pr-2 text-sm font-medium leading-none">Read More</p>
                                    <svg class="fill-stroke" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5.75 12.5L10.25 8L5.75 3.5" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <img [src]="blogs[4].image" class="w-full" [alt]="blogs[4].title" />
                    </div>
                    <div class="relative w-full sm:mt-0 mt-4">
                        <!-- Blog Card 6 from blogs array -->
                        <div>
                            <p class="p-6 text-xs font-medium leading-3 text-white absolute top-0 right-0">{{ blogs[5].date }}</p>
                            <div class="absolute bottom-0 left-0 p-6">
                                <h2 class="text-xl font-semibold text-white">{{ blogs[5].title }}</h2>
                                <a (click)="selectBlog(blogs[5])" class="focus:outline-none focus:underline flex items-center mt-4 cursor-pointer text-white hover:text-gray-200 hover:underline">
                                    <p class="pr-2 text-sm font-medium leading-none">Read More</p>
                                    <svg class="fill-stroke" width="16" height="16" viewBox="0 0 16 16" fill="none" xmlns="http://www.w3.org/2000/svg">
                                        <path d="M5.75 12.5L10.25 8L5.75 3.5" stroke="currentColor" stroke-width="2" stroke-linecap="round" stroke-linejoin="round" />
                                    </svg>
                                </a>
                            </div>
                        </div>
                        <img [src]="blogs[5].image" class="w-full" [alt]="blogs[5].title" />
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>

<!-- Blog Detail Component Modal -->
<app-blog-detail *ngIf="selectedBlog" [blog]="selectedBlog" (close)="closeBlogDetail()"></app-blog-detail>

<app-footer></app-footer>
